<button class="learn-more">
  <span class="circle" aria-hidden="true">
    <span class="icon arrow"></span>
  </span>
  <span class="button-text"><%= link_to_prev_page @posts, 'Anterior', class: 'button-text' %></span>
</button>